#maincontainer {
  position: relative;
  width: 100%;
  display: flex; }

ul {
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -webkit-justify-content: center;
  margin-left: 10px;
  margin-right: 0;
  padding: 0;
  width: 75%; }
  ul li {
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-right: 1rem;
    margin-bottom: 1rem; }

.containertwo {
  display: flex;
  width: 300px;
  flex-wrap: wrap;
  margin: auto;
  border: 3px #60A7D8 solid; }

.largebox {
  width: 100%;
  height: 60%;
  display: flex;
  position: relative; }

.shirtpic {
  width: 83%;
  height: 83%;
  padding: 31px; }

.small-with-border {
  border-left: 3px #60A7D8 solid; }

.allsmall {
  width: 20%;
  height: 60px;
  position: relative;
  border-top: 3px #60A7D8 solid;
  background-color: white;
  box-sizing: border-box; }
  .allsmall .icons {
    position: absolute;
    padding: 18px 0px 0px 19px;
    font-size: 23px;
    color: #60A7D8; }

.smallboxone:hover {
  background-color: #60A7D8;
  cursor: pointer; }

.smallboxone:hover .refresh {
  color: white; }

.smallboxtwo:hover {
  background-color: #60A7D8;
  cursor: pointer; }

.smallboxtwo:hover .heart {
  color: white; }

.extralarge {
  font-family: sans-serif;
  margin: -198px 0px -40px 4px;
  font-size: 18px;
  text-align: center;
  color: #60A7D8; }

.smallboxthree:hover {
  background-color: #60A7D8;
  cursor: pointer; }

.smallboxthree:hover #squareiconblue {
  color: white; }

.smallboxfour:hover {
  background-color: #60A7D8;
  cursor: pointer; }

.smallboxfour:hover .extralarge {
  color: white; }

.allsquareicons {
  position: absolute;
  margin: -218px 25px 150px 14px;
  padding-right: 10px;
  font-size: 38px;
  color: #60A7D8; }

.smallboxfive {
  cursor: pointer;
  outline: none; }

.smallboxfive:hover {
  background-color: #60A7D8; }

.smallboxfive:hover .cart {
  color: white; }

.submenuone {
  border: 3px #60A7D8 solid;
  background-color: white;
  width: 68px;
  height: 210px;
  position: relative;
  right: 0px;
  bottom: 213px;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
  align-content: center;
  text-align: center; }
  .submenuone .size {
    width: 100%;
    height: 25%;
    padding: 3px;
    font-family: sans-serif;
    font-size: 30px;
    color: #60A7D8;
    border-bottom: 3px #60A7D8 solid;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: auto; }

.smallboxfour:hover .submenuone {
  opacity: 100; }

.submenutwo {
  border: 3px #60A7D8 solid;
  background-color: white;
  width: 68px;
  height: 220px;
  position: relative;
  right: -1px;
  bottom: 226px;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
  align-content: center;
  justify-content: space-around; }
  .submenutwo .shirtcolor {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    padding: 5px; }
  .submenutwo .shirtcolorblue {
    background-color: #60A7D8; }
  .submenutwo .shirtcolorpink {
    background-color: #e577aa; }
  .submenutwo .shirtcolororange {
    background-color: #e5b178; }
  .submenutwo .shirtcolorgreen {
    background-color: #7abe93; }

.smallboxthree:hover .submenutwo {
  opacity: 100; }

.shirtinfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 10px;
  width: 100%;
  height: 60px;
  box-sizing: border-box; }

.shirtname {
  font-family: sans-serif;
  font-size: 22px;
  color: #60A7D8; }

.price {
  font-family: sans-serif;
  font-size: 22px;
  color: #60A7D8; }

#cart-area {
  font-family: sans-serif;
  font-size: 22px;
  color: #60A7D8;
  border: 3px #60A7D8 solid;
  padding: 0px 10px 0px 10px;
  margin: 15px 3px 15px 3px;
  float: right; }

#my-cart {
  font-family: sans-serif;
  font-size: 22px;
  color: #60A7D8; }

button p {
  font-family: sans-serif;
  font-size: 22px;
  color: #60A7D8; }
